{% extends 'bookle/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Us
{% endblock %}

{% block body_block %}
    <div class="container-fluid">
        <p id="black-headings">This site was made by...</p>
        <div class="about-us-main">
            <h4 class="group-1a">Sophie Lambie (2764964L)</h4>
            <p class="jobs">Worked on front end: HTML, CSS, URL structure, Leaderboard</p>
            <h4 class="group-1a">Rachel Horton (2733550H)</h4>
            <p class="jobs">Worked on: Database, Game Logic</p>
            <h4 class="group-1a">Adam Yuan (2736414Y)</h4>
            <p class="jobs">Worked on: Discussion Page, User Accounts</p>
            <h4 class="group-1a">Faraj Ahmed (2736261A)</h4>
            <p class="jobs">Worked on: Past Puzzles</p>
        </div>
    </div>
{% endblock %}