{% extends 'bookle/base.html' %}
{% load staticfiles %}

{% block assets_block %}
    <script src="{% static 'scripts/complete.js' %}"></script>
{% endblock %}

{% block title_block %}
    Complete
{% endblock %}


{% block body_block %}
<div class="container-fluid">
    <h2 id="complete-title" ><strong>Congratulations! The Bookle answer was...</strong></h2>
    <div id="complete-guesses">
        <div class="guessResultsCover">
            <img id = "cover" src=""/>
        </div>

        <strong>Title:</strong> <label id="title"></label> <br>
        <strong>Author:</strong> <label id="author"></label><br>
        <strong>Release Year:</strong> <label id="releaseYear"></label><br>
    </div>

    <div class="final-guess-count"></div>
    
    <div class="discussion-link">
        <h2>..Join the discussion with fellow players</h2>
       <a href="{% url 'bookle:discussion' %}"><strong><h2> here!</h2></strong></a>
    </div>
    <div class="past-puzzles-link">
        <h2>...Play past puzzles</h2>
        <a href="{% url 'bookle:past_puzzles' %}"><strong><h2> here!</h2></strong></a>
    </div>
</div>
{% endblock %}