{% extends 'bookle/base.html' %}
{% load staticfiles %}

{% block assets_block %}
    <script src="{% static 'scripts/puzzle.js' %}" 
            defer
            data-puzzle-date="{{ puzzleDate }}"></script>
{% endblock %}


{% block title_block %}
    Daily Puzzle
{% endblock %}


{% block body_block %}
    <div class ="guesses">
        <p id="validGuess"></p>
        
        <label for="guessInput">Your Guess: </label>
        <input id="guessInput" type="text" placeholder="Enter book here...">
        <button id="submitButton">Guess</button>
        &emsp; &emsp; 
        <label id="guessCount"></label>
    </div>

    <div id="options"></div>

    <div id="guessResults"></div>
{% endblock %}