{% extends 'bookle/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Discussion
{% endblock %}

{% block body_block %}
<div class="container">
    <h2>Discussion</h2>
    <hr>
    {% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ comment.userID.username }}</h5>
            <p class="card-text">{{ comment.comment }}</p>
            <button class="upvote-button" data-comment-id="{{ comment.id }}">↑ ({{ comment.upvotes }})</button>
            <button class="downvote-button" data-comment-id="{{ comment.id }}">↓ ({{ comment.downvotes }})</button>
        </div>
    </div>
    {% empty %}
    <p>No comments yet.</p>
    {% endfor %}
    <hr>
    <h4>New Comment</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var upvoteUrl = "{% url 'bookle:upvote' 0 %}";
    var downvoteUrl = "{% url 'bookle:downvote' 0 %}";

    $('.upvote-button').click(function() {
        var commentId = $(this).data('comment-id');
        $.post(upvoteUrl.replace('0', commentId), function(data) {
            $('.upvote-button[data-comment-id="' + commentId + '"]').text('↑ (' + data.upvotes + ')');
            $('.downvote-button[data-comment-id="' + commentId + '"]').text('↓ (' + data.downvotes + ')');
        });
    });

    $('.downvote-button').click(function() {
        var commentId = $(this).data('comment-id');
        $.post(downvoteUrl.replace('0', commentId), function(data) {
            $('.upvote-button[data-comment-id="' + commentId + '"]').text('↑ (' + data.upvotes + ')');
            $('.downvote-button[data-comment-id="' + commentId + '"]').text('↓ (' + data.downvotes + ')');
        });
    });
});
</script>

{% endblock %}