{% extends 'bookle/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Edit Account
{% endblock %}


{% block body_block %}
    <h1>{{ user.username }}'s Profile</h1>
    <p>Email: {{ user.email }}</p>
    <!-- Display other user information here -->

    <h2>Edit Profile</h2>
    <form id="profile_form" method="post" action="{% url 'bookle:edit_account' username=user.username %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
