{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/stylesheet.css' %}" />
</head>

<div class="guessResultsCover">
    <br><br>
    <img id = "cover" src="{{ cover }}"/>
</div>

<div class="guessResultsCategories"> 
    <strong>Title:</strong> <label id="title">{{ title }}</label> <br>
    <strong>Author:</strong> <label class="{{ author_class }}" id="author">{{ author }}</label> <br>
    <strong>Release Year:</strong> <label class="{{ release_year_class }}" id="releaseYear">{{ release_year }}</label><br>
    <strong>Number of words in title:</strong> <label class="{{ no_of_words_class }}" id="noOfWords">{{ no_of_words }}</label><br>
</div>
