{% extends 'bookle/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Leaderboard
{% endblock %}


{% block body_block %}
    <h2 id="leaderboard-instructions">See how fellow players have scored today...</h2>
    <h1 id="green-headings">Leaderboard</h1>
    <div id="leaderboard-background">
        <br>
        <strong class="leaderboard-places">Username:</strong>   &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; <strong class="leaderboard-places">Guesses Used:</strong>
        <br>
        <!--
        <ol>
            {% for user in leaderboard_users %}
            <li>{{leaderboard_users.userID}}</li>
            {% endfor %}
        </ol>
        -->

    </div>
{% endblock%}