<!DOCTYPE html>
{% extends 'bookle/base.html' %}
{% load staticfiles %}
<html>
    <head>
        {% block title_block %}
            Past Puzzles Page
        {% endblock %}
    </head>
    <body>
        {% block body_block %}
            <div class="instructions">
                <h1>Select your difficulty</h1>
                <p id="instructionsText"> Play Bookle with a list of popular titles or take the challenge and attempt the difficult list! </p>
                <a class="btn btn-success" href="/bookle/popular/" role="button">Popular</a>
                <a class="btn btn-danger" href="/bookle/difficult/" role="button">Difficult</a>
            </div>
        {% endblock %}
    </body>
</html>