{% extends 'bookle/base.html' %} 

{% block title_block %} Register {% endblock %}


{% block body_block %}
    <div class="float-container">
        <div class="login-child">
            <h2 id="Login-green-headings">Sign Up Here!</h2>

            <form method="post" action=".">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="signup-child">
            <h2 id="Signup-green-headings">Already got an account?</h2>
            <a id="signup-link" href="/bookle/login/">Login</a>
            <p id="signup-text">to view your account or edit too!</p>
        </div>
    </div>
{% endblock %}