/* --------------------------------------base.html---------------------------------- */
body{
    background-color: #fdf8ee;
    margin: 0px
}

#logo {
    height: 100px;
    width: 200px;
    float: left;
}

.topIcons{
    padding-top: 10px;
    height: 80px;
    width: 80px;
    float: right;
}

#menuBar{
    width: 100%;
    background-color: #fdf8ee;
    height: 6em;
    position: sticky;
    overflow: hidden;
    top: 0px;
    z-index: 1;
    border-bottom: solid;
}

#footer{
    background-color: #fdf8ee;
    color: grey;
    position: fixed;
    font-size: 14px;
    bottom: 0px;
    width: 100%;
    height: 40px;
    text-align:center;
}

/* ------------------------------home.html------------------------------------------ */
#instructionsText{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    top: -10px;
    margin: 100px;
    font-size: 24px;
    color: black;
}

.instructions{
    position: relative;
    margin-top: 40px;
    height: 100%;
    text-align: center;
    background-color: #fbd779;
    width: 100%
}

h1{
    position: relative;
    top: 20px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 36pt
}

#black-instructions{
    position: relative;
    top: 100px;
    margin: 1000px;
    font-family: 'Times New Roman', Times, serif;
    float:right;
    font-size: 36pt;
}

.logo-links{
    height: 100px;
    width: 200px;
}

#linkText{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    top: -20px;
    display:inline;
}

/* -----------------------------leaderboard.html------------------------------------ */
#leaderboard-background{
    position: relative;
    top: 9em;
    left: 11em;
    height: 35em;
    text-align: left;
    background-color: #fbd779;
    width: 75%;
}

#green-headings{
    position: relative;
    top: 0.5em;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    color: green;
    font-size: 36pt
}

#leaderboard-instructions{
    position:relative;
    top: 0.5em;
    font-size: 30pt;
    text-align: center;
}

.leaderboard-places{
    padding-left: 50px;
    font-size: 16pt;
    display:inline-block;
}

/* ---------------------------------about_us.html------------------------------------ */
.about-us-main{
    position: relative;
    margin:auto;
    top: 4em;
    height: 60%;
    background-color: #fbd779;
    width: 75%;
}

#black-headings{
    font-family:'Times New Roman', Times, serif;
    position:relative;
    font-size: 30pt;
    text-align: center;
}

.group-1a{
    font-family:'Times New Roman', Times, serif;
    line-height: 40px;
    font-size: 22px;
    text-align:center;
}

.jobs{
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    text-align:center;
}

/* -------------------------------------login.html----------------------------------- */

.container{
    height: 100%;
}

.login-child{
    width: 60%;
    float: left;
    padding: 20px;
    height: 100%;
}

.signup-child{
    width: 30%;
    float: right;
    padding: 20px;
    border-left: 5px solid black;
    height: 100%;
}

#Signup-green-headings{
    position: relative;
    top: 80px;
    margin: 20px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    color: green;
    font-size: 36pt
}

#signup-link{
    position:absolute;
    right: 180px;
    top:255px;
    text-align:center;
    font-size: 20pt;
}

#signup-text{
    position:absolute;
    padding:50px;
    top:240px;
    text-align:center;
    font-size: 20pt;
}

#Login-green-headings{
    position: relative;
    top: 10px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: green;
    font-size: 36pt
}

.login-text{
    position: relative;
    padding-top: 600px;
    padding-left: 20px;
    font-size: 18pt;
    text-align: center;
    display: inline;
}

/* --------------------------daily_puzzle.html-----------------------------------*/

.guesses{
    position:sticky;
    height: 100px;
    width: 100%;
    font-size: 28pt;
    text-align: center;
    display: inline;
}

#guessInput{
    position: relative;
    top: -5px;
    height: 30px;
    width: 300px;
}

#submitButton{
    position: relative;
    top: -5px;
    height: 35px;
    width: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

#cover{
    float:right;
    height: 245px;
    width: 160px;
}

#guessResults{
    position: relative;
    top: 2.5em;
    align-content: center;
    height: 400px;
    width: 100%;
    font-size: 18pt;
    display:inline;
}

.guessResultsCover{
    width: 38%;
    float: left;
    padding: 20px;
    height: 300px;
}

.guessResultsCategories{
    padding-top: 40px;
    width: 48%;
    float: right;
    padding: 20px;
    height: 300px;
    line-height: 60px;
}

#options{
    position:absolute;
}

.correctGuess{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: rgb(35, 179, 35);
}

.closeGuess{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: orange;
}